.snake-part {
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 2px;
}

.snake-head {
  background-color: gold;
  border-radius: 7px;
}

.snake-body {
  background-color: green;
  border-radius: 3px;
}

.fruit {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 10px;
}

.fruit-apple {
  background-color: red;
}

.fruit-cherry {
  background-color: purple;
}

.fruit-orange {
  background-color: orange;
}
